@import '~@angular/material/theming';
@include mat-core();

$eshop-app-primary: mat-palette($material-primary-color);
$eshop-app-accent:  mat-palette($material-secondary-color);
$eshop-app-warn:    mat-palette($mat-red);
$eshop-app-theme: mat-light-theme($eshop-app-primary, $eshop-app-accent, $eshop-app-warn);
$custom-typography: mat-typography-config(
  $font-family: 'Kanit, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);
@include mat-menu-typography($custom-typography);
@include angular-material-theme($eshop-app-theme);